@import 'ws-mixins';

.app-logo-navbar {
  width: 125px;
  height: auto;
  margin-bottom: 3px;
  @include breakpoint-xs {
    width: 100px;
  }
}

.logo {
  @include breakpoint-xs {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
}

.login-background {
  background-image: url('/assets/instances/Wingspan-Pathfinders/images/poster_images/login-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 56px);
}

.app-logo-content {
  width: calc(100% - 20px);
  max-width: 400px;
}

.nav-sign-in {
  color: white !important;
  @include breakpoint-xs {
    display: none;
  }
}

.sign-in {
  margin-top: -8px;
  color: white !important;
}

.login-content {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}

.text-color {
  color: white !important;
}

.logo-bottom {
  width: 85px;
  height: auto;
}
