<div class="landing-page flex flex-col justify-center">
  <div class="flex flex-between absolute top-0 left-0 right-0 p-4">
    <a name="application-logo" class="padding-remove-small" mat-button routerLink="." i18n-matTooltip matTooltip="Home">
      <img [src]="mainIcon" i18n-alt alt="Application Logo" class="app-logo" />

    </a>
    <div class="text-white">
      <a name="about_btn" class="padding-remove-small" mat-button routerLink="/public/about">
        <span i18n class="toolbar-text small-font-size">About Us</span>
        <mat-icon class="toolbar-icons" matTooltip="About Us">info</mat-icon>
      </a>
      <a name="tnc_btn" class="padding-remove-small" mat-button routerLink="/public/tnc">
        <span i18n class="toolbar-text small-font-size">Terms of use</span>
        <mat-icon class="toolbar-icons" matTooltip="Terms of use">description</mat-icon>
      </a>
      <a name="help_btn" class="padding-remove-small" mat-button routerLink="/public/contact">
        <span class="toolbar-text small-font-size" i18n>Help & Contact</span>
        <mat-icon class="toolbar-icons" matTooltip="Help & Contact">chat</mat-icon>
      </a>
    </div>
  </div>
  <div class="flex flex-around">
    <div class="w-full sm:w-3/5 login-background">
      <img alt="" class="landing-image" src="/assets/instances/Wingspan-Academy/login-page/Illustration.svg" />
    </div>
    <div class="w-full sm:w-2/5 flex flex-col justify-center items-center">
      <div class="login flex justify-center items-center flex-col px-6 py-12">
        <img [src]="appIcon" i18n-alt alt="Application Logo" class="icon flex justify-center items-center" />
        <div class="py-4">
          <button (click)="login('S')" mat-raised-button class="login-btn">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>