@import 'ws-mixins';
.landing-page {
  background-color: #294397;
  height: calc(100vh);
  width: 100%;
}

.login-background {
  height: auto;
  text-align: center;
  @include breakpoint-lt-s {
    display: none;
  }
}

.icon {
  @include breakpoint-s {
    height: 50%;
  }
  height: 50%;
}

.app-logo {
  max-width: 100px;
  max-height: 48px;
  min-width: 32px;

  @include breakpoint-xs {
    max-width: 80px;
  }
  @include breakpoint-lt-s {
    max-height: 30px;
  }
}

.small-font-size {
  @include breakpoint-xs {
    font-size: smaller !important;
  }
}

.landing-image {
  width: 75%;
  height: 100%;
}

.login-btn {
  background-color: #fc4c01 !important;
  color: white !important;
}

.login {
  background-color: #1c2d63;
  height: 50%;
  width: 50%;
  @include breakpoint-lt-s {
    width: 50%;
  }
  @include breakpoint-m {
    width: 50%;
  }
  border-radius: 2rem;
}
.toolbar-icons {
  display: none;
  @include breakpoint-lt-s {
    display: contents;
  }
}
.toolbar-text {
  @include breakpoint-lt-s {
    display: none;
  }
}
