<div class="h-screen backgound-white">
  <mat-toolbar [color]="navBar?.color" class="mat-elevation-z4" [ngStyle]="navBar?.styles">
    <span class="spacer"></span>
    <a mat-button routerLink="/public/about">
      <mat-icon>info</mat-icon>
      <span class="mx-2" i18n>About</span>
    </a>
    <a mat-button routerLink="/public/mobile-app">
      <mat-icon>phone_iphone</mat-icon>
      <span class="mx-2" i18n>Apps</span>
    </a>
  </mat-toolbar>
  <div class="flex flex-col justify-end">
    <div class="login-content">
      <div>
        <img [src]="appIcon" i18n-alt alt="Application Logo" class="app-logo-content" />
      </div>
      <button class="ws-mat-primary-background sign-in" mat-raised-button i18n (click)="login('S')">
        Get Started
      </button>
    </div>
  </div>
  <mat-toolbar [color]="navBar?.color" class="mat-elevation-z4 bottom-nav" [ngStyle]="navBar?.styles">
    <a mat-button i18n="terms and conditions" routerLink="/public/tnc">Terms of use</a>
    <span class="spacer"></span>

    <a mat-button i18n="contact us" routerLink="/public/contact">Help & Contact</a>
  </mat-toolbar>
</div>