<form [formGroup]="logUserDetails" (ngSubmit)="submitUserDetails()" *ngIf="!showMessage">
  <h2 class="mat-h2" i18n>Enter your details</h2>

  <mat-form-field class="w-full pb-4" appearance="fill">
    <mat-label i18n>First Name</mat-label>
    <input
      matInput
      name="firstname"
      formControlName="firstname"
      type="text"
      class="input"
      required
    />
    <mat-error i18n>
      First Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full pb-4" appearance="fill">
    <mat-label i18n>Last Name</mat-label>
    <input matInput name="lastname" formControlName="lastname" type="text" class="input" required />
    <mat-error i18n>
      Last Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full pb-4" appearance="fill">
    <mat-label i18n>Email Id</mat-label>
    <input matInput name="emailid" formControlName="emailid" type="email" class="input" required />
    <mat-error i18n>
      Email id is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full pb-4" appearance="fill">
    <mat-label i18n>Company Name</mat-label>
    <input
      matInput
      name="companyname"
      formControlName="companyname"
      type="text"
      class="input"
      required
    />
    <mat-error i18n>
      Company Name is required
    </mat-error>
  </mat-form-field>

  <div class="flex flex-row-reverse">
    <button
      mat-raised-button
      class="ws-mat-accent-background text-white"
      type="submit"
      [disabled]="!logUserDetails?.valid"
    >
      <span class="text-white font-normal" i18n>Submit</span>
    </button>
  </div>
</form>

<h2 *ngIf="showMessage" class="mat-h2">
  <ng-container i18n>Thank you for your details. </ng-container
  ><a [href]="openEpochCustomUrl" target="_blank">Click here </a>
  <ng-container i18n>to continue </ng-container>
</h2>
