<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>app_tag</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>deploy-ui-proxies-service</string>
              <string>deploy-ui-static</string>
              <string>deploy-antivirus-service</string>
              <string>deploy-authtool-ui</string>
              <string>deploy-content-service</string>
              <string>deploy-external-api-service</string>
              <string>deploy-file-exhaust-service</string>
              <string>deploy-lex-chatbot-service</string>
              <string>deploy-lex-core-service</string>
              <string>deploy-monitoring-service</string>
              <string>deploy-more-like-this-service</string>
              <string>deploy-sb-ext-authtool-service</string>
              <string>deploy-sb-ext-service</string>
              <string>deploy-social-forum-service</string>
              <string>deploy-telemetry-service</string>
              <string>deploy-pid-service</string>
              <string>deploy-notification-service</string>
              <string>deploy-access-control-service</string>
              <string>deploy-hierarchy-service</string>
              <string>deploy-lex-core-critical-service</string>
              <string>deploy-lex-core-high-service</string>
              <string>deploy-lex-core-lhub-service</string>
              <string>deploy-lex-core-cassandra-service</string>
              <string>deploy-kafka-service</string>
              <string>deploy-opensaber</string>
              <string>deploy-user-profile-service</string>
              <string>deploy-sb-recommendation-service</string>
              <string>deploy-sb-discuss-connect-service</string>
              <string>deploy-sb-hub-service</string>
              <string>deploy-content-validation-service</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /data/ansible_workspace_dir
ansible-playbook -i inventory/hosts -e &quot;deploy_host_name=dev&quot; main.yml --tag $app_tag</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>