<div class="login-container">
  <div class="mat-toolbar text-white intro-section"
    [style.background-image]="'url(' + loginConfig?.bodyBackgroundImageUrl + ')'"
    [ngClass]="{ 'mat-primary': !loginConfig?.bodyBackgroundImageUrl }">
    <div class="app-name-intro flex flex-column">
      <div class="margin-bottom-xxs title" *ngIf="loginConfig?.footer?.descriptiveInfo?.welcomeMessage">
        {{ loginConfig?.footer?.descriptiveInfo?.welcomeMessage }}
      </div>
      <div class="mat-body title" *ngIf="loginConfig?.footer?.descriptiveInfo?.welcomeTagline">
        {{ loginConfig?.footer?.descriptiveInfo?.welcomeTagline }}
      </div>
    </div>

    <div class="powered-by-intro mb-3 text-white" *ngIf="loginConfig?.footer?.copyright">
      <div>Powered by</div>

      <a routerLink="." class="flex flex-middle" i18n-matTooltip matTooltip="Home">
        <img class="wingspan-logo" [src]="appIcon" i18n-alt alt="Application Logo" />
        <div class="mat-caption px-2">Infosys Wingspan</div>
      </a>
    </div>
  </div>

  <div class="login-section text-center">
    <div class="login-filed-info mat-title">
      <div class="font-size-22">Hello</div>
      <div class="mb-8 font-size-22">Please choose your login:</div>
      <div *ngIf="loginConfig && loginConfig.loginButtons">
        <div *ngFor="let btn of loginConfig.loginButtons"
          class="login-btns flex flex-between flex-middle mat-elevation-z4 mb-4 cursor-pointer font-size-16"
          i18n="login" (click)="login(btn.key)">
          <a name=" login_btn_{{ btn.key }}" class="ws-mat-primary-text">{{ btn.name }}</a>
          <mat-icon class="pl-4">arrow_forward</mat-icon>
        </div>
      </div>
    </div>

    <div class="bottom-section flex flex-middle">
      <a name="terms_btn" mat-button i18n="terms and conditions" *ngIf="loginConfig?.footer?.tnc"
        routerLink="/public/tnc">{{ loginConfig.displayName.tnc }}</a>
      <span class="spacer"></span>
      <div class="flex flex-middle" *ngIf="loginConfig?.footer?.mobileApps">
        <ng-container>{{ loginConfig?.displayName?.mobileApps }}</ng-container>
        <a name="mobile_btn" *ngIf="loginConfig?.footer?.android" routerLink="/public/mobile-app" fragment="'android'"
          i18n-matTooltip matTooltip="Android">
          <img [src]="androidIcon" alt="Android app" class="app-logo ws-mat-primary-lite-background" />
        </a>
        <a name="mobile_btn" *ngIf="loginConfig?.footer?.ios" routerLink="/public/mobile-app" fragment="'ios'"
          i18n-matTooltip matTooltip="Ios">
          <img [src]="iosIcon" alt="Ios app" class="app-logo ws-mat-primary-lite-background" />
        </a>
      </div>
    </div>
  </div>
</div>