@import 'ws-mixins';
@import 'ws-vars';

.bg {
  background: #007cc3;
}

.btn {
  background: black !important;
  color: white !important;
  font-weight: 600 !important;
}

.title {
  margin: 1.25rem 0 !important;
  font-size: 2.5rem;
  line-height: 3rem;
  @include breakpoint-lt-m {
    font-size: 2rem;
  }
}

.card {
  min-height: 200px;
  // width: 22rem;
  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}
.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}

.bg-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
}

.desc {
  $title-line-count: 2;
  $title-line-height: 1.5em;
  min-height: $title-line-count * $title-line-height;
  line-height: $title-line-height;
  @include breakpoint-m {
    $title-line-count: 3;
  }
}

.bg-footer {
  background: #333333;
  color: white !important;
}
